*.swp
vendor/*
reports/*
.bundle/*
*.ropeproject
*.irb-history
*.png
*.DS_STORE
test_servers/*
.idea
features.zip
*commcare*.apk
*.html
*/__pycache__
scripts/ccc
scripts/checkout_cross_request_repo.py
latest_form_time.txt
local.properties.yaml
*.lock